<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>NLP App</title>
    </head>

    <body>

        <header>
            <div>
                <img id="logo"></img>
            </div>

            <div class="nav">
                <a class="buttonLink" href="https://aylien.com/text-api/">Learn more</a>
            </div>
        </header>

        <main>
            <section class="form">
                <label for="userInput">Enter a url in this format: http://welcome.com.</label>
                <input id="userInput"></input>
                <button id="buttGetResults">Get results</button>
            <section>

            <section class="results">
                <div id="inputResults"></div>
            </section>
        </main>

        <footer>
            <p>&copy; 2020 Google NLP</p>
        </footer>

    </body>
</html>
